:root {
    --page-padding: 2cm;
    --page-width: 21.6cm;
    --page-height: 27.9cm;
    --body-color: #333;
    --blue1: #0c4ba8;
    --blue2: #27d;
    --link: #27d;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 11pt "Avenir Next";
    font-weight: 300;
    color: var(--body-color);
  }

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    background: #fff;
    width: var(--page-width);
    height: var(--page-height);
    /* display: block; */
    
    margin: 10mm auto;
    /* border: 1px #D3D3D3 solid; */
    box-shadow: 0 0 0.3cm rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.subpage {
    /* padding: var(--page-padding) 0; */
    /* padding: 1cm; */
    /* border: 5px red solid; */
    /*.page height -40mm (20 off top/bottom)*/
    /* height: calc(var(--page-height) - 2 * var(--page-padding));  */
    /* outline: 2cm #FFEAEA solid; */
}

@page {
    size: Letter;
    margin: 0;
}

@media print {
    html, body {
        width: var(--page-width);
        height: var(--page-height);      
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

a {
    color: var(--link);
    /* opacity: 70%; */
    font-style: normal;
    /* font-weight: bold; */
    text-decoration: none;
}

.name {
    font-size: 26pt;
    font-weight: bold;
    margin-top:0;
    color: var(--blue1);
    /* letter-spacing: 0.02em; */
}

.job {
    font-size: 18pt;
    color: var(--blue1);
    font-weight: 600;
}

.headline {
    font-size: 15pt;
    margin-top: 1.5mm;
    margin-bottom:0.5em;
    text-align: center;
    /* color: var(--blue1); */
    font-weight: 500;
}

.header {
    display: flex;
    align-items: flex-end;
    /* align-content: stretch;
    justify-content: stretch; */
    /* width: 100%; */
}

.header-container {
    background-color: #ffffff;
    padding: 0 var(--page-padding);
    padding-bottom: 0mm;
    padding-top: 15mm;
    /* border-bottom: solid 1px var(--body-color); */
}
.title {
    flex-grow: 3;
    /* height: 20mm; */
}
.header-item{
    /* flex-grow: 1 */
    /* align-self: baseline; */
}
.contact {
    text-align: right;
    flex-grow: 1;
    flex-basis: 20%;
    line-height: 150%;
    margin-bottom:0.5em;
    /* height: 20mm; */
    /* align-self: flex-end; */
    font-size: 10pt;
}

.card {
    margin: 0.5em var(--page-padding);
}

.card-header {
    font-size: 14pt;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--blue1);
    /* opacity: 90%; */
}

.group-header {
    font-size: 12pt;
    margin-bottom: 0.1em;
    /* color: var(--blue2); */
    margin-top: 0;
    font-weight: 500;
}

.group {
    margin-bottom: 0.5em;
}

#second {
    padding-top: 15mm;
}

.row {
    display: flex;
    font-weight: 500;
    margin-bottom: 0;
    /* color: var(--blue2); */
}

.dates {
    padding-left: 1em;
    /* color: #0249b5; */
    text-align: right;
    flex-grow:1;
    
}

.footer {
    font-weight: 500;
    display: flex;
}

.resume {
    flex: 3;
    color: var(--blue1);
}
.page-number {
    flex: 1;
    font-weight: 300;
    text-align: right;
}

ul {
    margin-top: 0.2em;
}