:root {
    --page-padding: 2cm;
    --page-width: 21.6cm;
    --page-height: 27.9cm;
    --body-color: #333;
    --blue1: #0c4ba8;
    --blue2: #27d;
    --link: #27d;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 11pt "Avenir Next";
    font-weight: 300;
    color: var(--body-color);
  }

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    background: #fff;
    width: var(--page-width);
    height: var(--page-height);
    margin: 10mm auto;
    box-shadow: 0 0 0.3cm rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.subpage {
    padding: var(--page-padding) 0;
}

@page {
    size: Letter;
    margin: 0;
}

@media print {
    html, body {
        width: var(--page-width);
        height: var(--page-height);      
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

a {
    color: var(--link);
    font-style: normal;
    text-decoration: none;
}

.name {
    font-size: 26pt;
    font-weight: bold;
    margin-top:0;
    color: var(--blue1);
}

.job {
    font-size: 18pt;
    color: var(--blue1);
    font-weight: 600;
}

.headline {
    font-size: 15pt;
    margin-top: 1.5mm;
    margin-bottom:0.5em;
    text-align: center;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header-container {
    background-color: #ffffff;
    padding: 0 var(--page-padding);
}
.title {
    flex-grow: 3;
}

.contact {
    text-align: right;
    flex-grow: 1;
    flex-basis: 20%;
    line-height: 150%;
    margin-bottom:0.5em;
    font-size: 10pt;
}

.card {
    margin: 0.5em var(--page-padding);
}

.card-header {
    font-size: 14pt;
    margin-bottom: 0;
    font-weight: 600;
    color: var(--blue1);
}

.group-header {
    font-size: 12pt;
    margin-bottom: 0.1em;
    margin-top: 0;
    font-weight: 500;
}

.group {
    margin-bottom: 0.5em;
}

#second {
    padding-top: 15mm;
}

.row {
    display: flex;
    font-weight: 500;
    margin-bottom: 0;
}

.dates {
    padding-left: 1em;
    text-align: right;
    flex-grow:1;
    
}

.footer {
    font-weight: 500;
    display: flex;
}

.resume {
    flex: 3;
}
.page-number {
    flex: 1;
    font-weight: 300;
    text-align: right;
}

ul {
    margin-top: 0.2em;
}